
<h2 class="title">Controle de Estoque</h2>
<HR SIZE = 5 color="blue">

<%= render 'formpesq' %>

<% if @totCli != 0 %>	<!-- CONDICIONAL PARA VERIFICAR SE HÁ REGISTROS A SEREM LISTADOS --> 

		<table border=0>
		  <tr bgcolor="#FFD700">		<!--  bgcolor=”white” color="white" -->
			<th  >NOME</th>
			<th>QUANTIDADE</th>
			<th colspan="2">Operações</th>
		  </tr>

			<!-- Código Ruby -->  
			<% cont = 0 %> 	<!-- ATENÇÃO: variáveis começam sempre com letra minúscula -->
			
			<% @estoques.each do |registro| %>
			
				<% if hPag(registro.id,@colecao) %>
				
				<% if cont % 2 == 1 %>
					<tr bgcolor="#EEE9E9">
				<% else %>
					<tr bgcolor="#FFF5EE" >
				<% end %>
				
				<% cont = cont + 1%>	<!--  Incrementando contador para mudança de cor -->
			
				<td><%= registro.nome %></td>
				<td><%= registro.quant %></td>

				<!-- gerenciando links para CRUD -->
				
				<% info = 13.chr + 10.chr + 13.chr + 10.chr + "Produto: " + registro.nome + 13.chr + 10.chr %>
				
				<th><%= link_to image_tag("mostrar.png", :size => "120x30") , estoque_path(registro), :method => :show %></th>
				<th><%= link_to image_tag("entrada.png", :size => "150x30") , edit_estoque_path(registro) %></th>
				
			  </tr>
			<% end %>
			<% end %>
			
		</table>
<% else %>
	<h3> Nenhum Registro Foi Encontrado! </H3>
<% end %>

<br><HR SIZE = 5 color="blue">
<center>
<% if @pesq == nil %>
	<% @pesq = "" %>
<% end %>
<%= link_to image_tag("inicio.png", :size => "120x40"), "/estoque" + "?pag=0&pesq="+@pesq %>
<%= link_to image_tag("proximo.png", :size => "120x40"), "/estoque" + "?pag=" + soma(@pag.to_i,@page,@estoques.size-1)  + "&pesq="+@pesq%>
<%= link_to image_tag("anterior.png", :size => "120x40"), "/estoque" + "?pag=" + minimo(@pag.to_i-@page) + "&pesq="+@pesq %>
<%= link_to image_tag("fim.png", :size => "120x40"), "/estoque" + "?pag=" + (@estoques.size - @page).to_s  + "&pesq="+@pesq%>
</center><HR SIZE = 5 color="blue">
