<h2 class="title">Confirmando a Compra</h2>
<br>
<% if $CarrinhoCompras.size != 0%> 

	<table>
		<tr><td colspan=2><h3>DADOS DO CLIENTE:</h3></td></tr>
		<tr>
			<td><STRONG>NOME:</STRONG></td>
			<td><%= Cliente.find(session[:logcli]).nome %></td>
		</tr>
		<tr>
			<td><STRONG>CPF/CNPJ:</STRONG></td>
			<% if Cliente.find(session[:logcli]).pessoa == "F" %>
				<td><%= fCpf(Cliente.find(session[:logcli]).cpf) %></td>
			<% else %>
				<td><%= fCnpj(Cliente.find(session[:logcli]).cnpj) %></td>
			<% end %>
		</tr>
		
			<tr><td colspan=2><h3>ENDEREÇO PARA ENTREGA:</h3></td></tr>
			<tr><td colspan=2><font color ="red">Residencial = Pessoa Física | Comercial = Pessoa Jurídica</font></td></tr>
		<TR>	
			<% if Cliente.find(session[:logcli]).pessoa == "F" %>
				<td>
					<%= Cliente.find(session[:logcli]).endereco %><br>
					<%= Cliente.find(session[:logcli]).bairro1 %><br>
					<% if Cliente.find(session[:logcli]).complemento != nil and Cliente.find(session[:logcli]).complemento != ""%>
						<%= Cliente.find(session[:logcli]).complemento %><br>
					<% end %>	
					<%= Cliente.find(session[:logcli]).cidade %> - 
					<%= Cliente.find(session[:logcli]).estado %><br>
					<%= fCep(Cliente.find(session[:logcli]).cep) %><br>
				</td>
				<% else %>
				<td>
					<%= Cliente.find(session[:logcli]).endereco2 %><br>
					<%= Cliente.find(session[:logcli]).bairro2 %><br>
					<% if Cliente.find(session[:logcli]).complemento2 != nil and Cliente.find(session[:logcli]).complemento2 != ""%>
						<%= Cliente.find(session[:logcli]).complemento2%><br>
					<% end %>	
					<%= Cliente.find(session[:logcli]).cidade2%><br>
					<%= Cliente.find(session[:logcli]).estado2%><br>
					<%= fCep(Cliente.find(session[:logcli]).cep2) %><br>
				</td>
			<% end %>
		</TR>
	</table>
	
	<!- Informações relativas ao carrinho de compras -->
	
	<h1>Carrinho de Compras</h1>
		<table border=1>
			
			<tr bgcolor="#FFD700" align="center">	
				<td><H4>ITEM:</H4></td>
				<td><H4>NOME DO PRODUTO:</H4></td>
				<td><H4>PREÇO À VISTA:</H4></td>
				<td><H4>PREÇO À PRAZO:</H4></td>
				<td><H4>QUANTIDADE:</H4></td>
				<td><H4>RETIRAR:</H4></td>
			</tr>	
			
			<% tam = $CarrinhoCompras.size - 1 %>
			<% ct = 0 %>
			<% while TRUE %>

					<% if !($CarrinhoCompras[ct] == "" and $CarrinhoComprasQuant[ct] == 0) %>
					<tr>
						<td><%= ct + 1 %></td>  <!-- Número do Item -->
						<td><b><%= Produt.find($CarrinhoCompras[ct]).nome %></b></td>  <!-- Nome do Produto -->
						<td><%= moeda(desconto(Produt.find($CarrinhoCompras[ct]).vista,$CarrinhoCompras[ct])) %></td>  <!-- Preco vista -->
						<td><%= moeda(desconto(Produt.find($CarrinhoCompras[ct]).prazo,$CarrinhoCompras[ct])) %></td>  <!-- Preco prazo -->
						<td><center><%= $CarrinhoComprasQuant[ct] %></center></td>  <!-- QUANTIDADE -->
						<td><%= link_to image_tag("retirar.png", :size => "100x40"), "/retirar2/"+ct.to_s   %></td>  <!-- retirar produto -->
					</tr>
					<% end %>
					
					
					<% ct = ct + 1 %>
					<% if ct > tam %>
						<% break %>
					<% end %>
			<% end %>
		</table>
		
		<%= render "formpesq" %>	<!-- formulario de alterar quantidade -->
		
		<!-- confirmação da compra -->
		<h2>FRETE (Pgto. à Vista):
		<%= moeda(calculafrete($CarrinhoCompras,1)) %> </h2>
		<h2>FRETE (Pgto. à Prazo):
		<%= moeda(calculafrete($CarrinhoCompras,2)) %> </h2>
		
		<%= render "form2" %> 	<!-- formulario de finalizacao de venda -->
	
		<!-- GERENCIAMENTO DE OPÇÕES DE COMPRAS -->
		<center><h1><b>TOTAL À PAGAR (VISTA): </B><%= moeda(totalVista($CarrinhoCompras,$CarrinhoComprasQuant) + calculafrete($CarrinhoCompras,1)) %><br>
		<b>TOTAL À PAGAR (PRAZO): </B><%= moeda(totalPrazo($CarrinhoCompras,$CarrinhoComprasQuant) + calculafrete($CarrinhoCompras,2)) %><br></h1></center>

		<CENTER><H2><FONT COLOR=RED> ATENÇÃO!!! AO CLICAR EM [ FINALIZAR COMPRA ]<BR>VOCÊ ESTÁ EFETIVAMENTE CONFIRMANDO A OPERAÇÃO</FONT> </H2></CENTER><BR>
		
		<center><table<<tr>
		<td><%= link_to image_tag("comprarmais.png", :size => "200x50"), "/loja" %></td>		
		<td WIDTH=33%><%= link_to image_tag("limparcarrinho.png", :size => "200x50"), "/limparcarrinho2"   %></td>  <!-- limpar carrinho -->	
		</tr></table></center>
	
<% else %>
	<h2>O Carrinho de Compras está vazio!</h2>
	<%= link_to image_tag("voltar.png", :size => "200x50"), "/loja" %>
<% end %>
